<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sjapps.testapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp"
        tools:targetApi="31">
        <activity
            android:name=".blectrl.BLECtrlActivity"
            android:exported="false" />
        <activity
            android:name=".firework.FireworkActivity"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialog_Base"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialog_ListDialog"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialog_CustomViewDialog"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialog_MessageDialog"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialog_BasicDialog"
            android:exported="false" />
        <activity
            android:name=".sjdialog.SJDialogActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>